

*{
    padding: 0;
    margin: 0;
    
}

body {
    background: linear-gradient(135deg,#030000, #154a24);
    height: 100vh;
    box-sizing: border-box;
}

.cuadro_calculadora{
    background-color: aliceblue;
    position: absolute;
    left: 30em;
    bottom: 0.1em;
    width: 25%;
    height: auto;
}
.botones{
    background-color: white;
}

button{
    font-size: 7em;
    display: inline-block;
    margin: 5%;
    border: solid;
    border-radius: 2%;
    

    
}