

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: green;
    height: 100vh;
    font-size: 1rem;
    color: aliceblue;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   }

.textarea{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    
}

.cuadroTexto{
    border-radius: 4px;
    background-color: black;
    font-style: normal;
    padding: 1.5em;
    color: green;
    width: 31.8em;
    height: 10em;
    border: solid yellow 0.5em;
    font-size: 15px ;
    resize: none;
    overflow: hidden;
}

.bloqueBotones{
    display: flexbox;
    justify-content: center;
    padding-top: 3%;
    
}


button{
    border: solid black 1px;
    width: 70px;
    height: 35px;
    padding: 35px;
}
